.newArrival{
    background-image: url('https://images.unsplash.com/photo-1619976160037-9a5277000127?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80'), linear-gradient(to right,black,rgba(0, 0, 255, 0.445));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.topTen {
    background-image: url('https://images.unsplash.com/photo-1458942521101-2f2fb506cee3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'), linear-gradient(to right,rgba(0, 0, 255, 0.719),rgba(255, 0, 0, 0.726));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}